.ac-articulos-categoria-container {
    margin-top: 120px;
}

.ac-articulos-categoria-container h2 {
    text-align: left;
    font-size: 1.25rem;
    margin-left: 10px;
    color: var(--tono-letra1);
}

.ac-articulos-categoria-title {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 20px;
}

.ac-articulos-categoria-grid {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
}

.ac-articulo-item {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    border-top: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 100%;
}

.ac-articulo-link {
    text-decoration: none;
    color: inherit; /* Hereda el color del texto para el enlace */
    display: flex; /* Asegura que el enlace ocupe todo el espacio */
}

.ac-articulo-imagen {
    width: 130px; /* Ancho de la imagen */
    height: 130px; /* Alto de la imagen */
    object-fit: cover; /* Mantiene la imagen ajustada al contenedor sin distorsión */
    border-radius: 5px; /* Opcional, agrega radio de borde si es necesario */
    margin-right: 20px; /* Espacio a la derecha de la imagen */
}

.ac-articulo-info {
    flex: 1; /* Ocupa el espacio restante */
    text-align: left;
}

.ac-articulo-nombre {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.ac-articulo-descripcion {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Número de líneas que deseas mostrar */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: 400;
    color: #666;
    margin: 5px 0;
}

.ac-articulo-precio {
    color: var(--tono-warning);
    font-size: 1.3rem;
    font-weight: bold;
}
