.confirmar-compra-page {
    margin-top: 125px;
    margin-inline: 10px;
}

.boton-volver-container {
    margin-bottom: 10px;
}

.page-interior-titulo {
    color: var(--tono-letra1);
    text-align: left;
    font-size: 1.25rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

.confirmar-compra-info {
    margin-inline: 10px;
}

/* Estilos para los cards */
.resumen-compra-card,
.datos-bancarios-card,
.opciones-envios-card {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.boleta-header,
.datosbanco-header,
.envios-header {
    display: flex;
    align-items: center;
    text-align: justify;
    margin-bottom: 20px;
}

.boleta-header h2,
.datosbanco-header h2,
.envios-header h2 {
    margin: 0;
}

.boleta-icon,
.datosbanco-icon {
    font-size: 24px;
    margin-right: 10px;
}

.detalle-compra,
.datos-bancarios-card,
.detalle-envios {
    margin-bottom: 20px;
}

.detalle-envios h3 {
    text-align: left;
    margin-bottom: 15px;
}

.detalle-envios p {
    text-align: justify;
}

.detalle-table,
.datos-bancarios-table,
.envios-table {
    font-size: 1rem;
    width: 100%;
    border-collapse: collapse;
}

.detalle-table th,
.detalle-table td,
.datos-bancarios-table th,
.datos-bancarios-table td,
.envios-table th,
.envios-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.detalle-table th,
.datos-bancarios-table th,
.envios-table th {
    background-color: #f2f2f2;
}

.detalle-table tfoot,
.datos-bancarios-table tfoot {
    font-weight: bold;
}

.confirmar-stock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-bottom: 20px;
    gap: 10px;
}

.compra_confirmar {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
    background: rgb(29, 170, 97);
    border: none;
    padding: 10px 12px;
    border-radius: 8px;
    gap: 8px;
    cursor: pointer;
}

.compra_pagar {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
    background: rgb(98, 0, 238);
    border: none;
    padding: 10px 12px;
    border-radius: 8px;
    gap: 8px;
    cursor: pointer;
}

.compra_envio {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
    background: rgb(232, 100, 170);
    border: none;
    padding: 10px 12px;
    border-radius: 8px;
    gap: 8px;
    cursor: pointer;
}

/* Estilos para pantallas de hasta 600px */
@media (max-width: 600px) {
    .confirmar-stock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: right;
        margin-bottom: 20px;
        gap: 10px;
    }
}
