.b-buscador-container {
    position: absolute;
    top: 60px; /* Ajusta la posición según tu diseño */
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.b-buscador-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.b-buscador-resultados {
    margin-top: 10px;
    overflow-x: auto;
    white-space: nowrap;
}

.b-resultados-scrollable {
    display: flex;
    flex-wrap: nowrap;
}

.b-articulo-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos hijos en el eje horizontal */
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 10px;
    padding: 10px;
    width: 200px; /* Ajusta el tamaño según tu diseño */
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.b-articulo-imagen {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    margin-bottom: 10px; /* Ajusta el margen inferior para separar la imagen del texto */
}

.b-articulo-info {
    margin-top: 10px;
}

.b-articulo-nombre {
    font-size: 16px;
    font-weight: bold;
}

.b-articulo-descripcion {
    font-size: 14px;
    color: #555;
}

.b-articulo-precio {
    font-size: 16px;
    color: #000;
    margin-top: 10px;
}
