/* Asegúrate de que no haya márgenes y padding predeterminados que afecten el diseño */


body, html {
    width: 100%;
    min-width: 350px;
    height: 100%;
    overflow-x: hidden;
    background: rgb(245, 245, 245);
}

.content {
    margin-top: 60px; /* Ajusta según la altura del encabezado */
    padding: 20px;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

@media (min-width: 600px) {
    .App,
    .encabezado-container {
        width: 600px !important;
        margin: 0px auto !important;
    }
}